* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.card{
	width:200px;
	height:200px;
	position:relative;
    margin:  20px;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
    border-radius: 5px;
}
#root{
	-webkit-perspective:1000;
	-moz-perspective:1000;
	-o-perspective:1000;
	perspective:1000;
	position:relative;
	width: auto;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right top, #1ad260, #00cd91, #00c4b6, #00b9ca, #00acce, #06a4d7, #369add, #5c8edc, #967ed7, #c768bf, #e85295, #f34a61);
}
.front, .back{
	width:100%;
	height:100%;
	position:absolute;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition:-webkit-transform 1000ms;
	transition:-webkit-transform 1000ms;
	transition:transform 1000ms;
	transition:transform 1000ms, -webkit-transform 1000ms;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
	-webkit-transform-origin:center center;
	transform-origin:center center;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 4px 0px,
    rgba(255, 255, 255, 0.2) 0px 8px 16px 0px;
}
.card .front{
	width: 200px;
    height: 200px;
    background-size: cover;
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}
.card .back{
	background:#212121;
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
.info {
    color: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    justify-content: space-around;
}
.info i {
    font-size: 30px;
    cursor: pointer;
}

.info i {
    color: #fff;
}
.spoty {
    background-color:#1AD260;
}
.apple {
    background-color: #F34A61;
}
.amaz {
    background-color: #109AC3;
}
.card-icon span {
    width: 50px;
    padding: 5px;
    border-radius: 4px;
}
.card-icon {
    display: flex;
    justify-content: space-around;
}
.card:hover .front {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}
.card:hover .back {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}
.title {
    font-weight: 700;
    font-size: 18px;
}
.year {
    font-size: 15px;
    
}
.author {
    font-weight: 700;
}